extends ../shared/_layout

block AdditionalCss
    link(rel='stylesheet', href='/css/gallery.css')

block content
    .container
        // Modal

        if isMyPhotos
            #myModal.modal.fade(role='dialog')
                .modal-dialog
                    // Modal content
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal') ×
                            h4.modal-title Are you sure you want to delete this post
                        .modal-body
                            p Post cannot be restored
                        .modal-footer
                            button.btn.btn-default#confirm-delete(type='button', data-dismiss='modal') Ok
        each post in context
            .row
                .col-md-6.col-md-offset-3
                    .thumbnail
                        p= moment(parseInt(post.time)).fromNow()
                        img(src=post.picture, alt='Post picture')
                        .caption
                            h3
                                strong
                                    a(href='users/'+ post.author._id)=post.author.name
                                .float-right(data-post-id=post._id)
                                    if !isMyFavourites
                                        span.counter-likes
                                            =post.likes
                                        if post.isLiked
                                            img.like.like-dislike-btn(src='/images/like-btn.png', alt='like', style="display:none;")
                                            img.liked.like-dislike-btn(src='/images/liked-btn.png', alt='liked')
                                        else
                                            img.like.like-dislike-btn(src='/images/like-btn.png', alt='like')
                                            img.liked.like-dislike-btn(src='/images/liked-btn.png', alt='liked', style="display:none;")
                                        if post.isDisliked
                                            img.dislike.like-dislike-btn(src='/images/dislike-btn.png', alt='dislike', style="display:none;")
                                            img.disliked.like-dislike-btn(src='/images/disliked-btn.png', alt='disliked')
                                        else
                                            img.dislike.like-dislike-btn(src='/images/dislike-btn.png', alt='dislike')
                                            img.disliked.like-dislike-btn(src='/images/disliked-btn.png', alt='disliked', style="display:none;")
                                        span.counter-dislikes
                                            =post.dislikes
                            p
                                =post.description
                            if post.isAdded
                                a.btn.btn-default.black-background.white.add(style="display:none")
                                    span.glyphicon.glyphicon-plus
                                    |  Add to Favs
                                a.btn.btn-default.black-background.white.delete
                                    span.glyphicon.glyphicon-minus
                                    |  Del from Favs
                            else
                                a.btn.btn-default.black-background.white.add
                                    span.glyphicon.glyphicon-plus
                                    |  Add to Favs
                                a.btn.btn-default.black-background.white.delete(style="display:none")
                                    span.glyphicon.glyphicon-minus
                                    |  Del from Favs
                            if isMyPhotos
                                a.btn.btn-default.black-background.white.deletePost(type='button', data-toggle='modal', data-target='#myModal', data-post=post._id)
                                    span.glyphicon.glyphicon-trash

block AdditionalJS
    script(src="/js/favourites.js")
    script(src="/js/likes-btns.js")
    script(src="/js/deleteAndEdit.js")